/* */
.entry-form-back {
  min-height: 100hv;
  width: 100%;
  position: fixed;
  top: 30%;
}

/* Estilos del contenedor del login */
.entry-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 350px;
    background-color: rgba(26, 26, 26, 0.8);
    border-radius: 10px;
    
}

/* Estilo del encabezado */
.entry-form-title {
    margin-top: 0;
    color: white;
}

/* Estilo del formulario */
.entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
    margin: 0 auto;
}

/* Estilo del contenedor de los inputs tipo submit */
.entry-form-buttons {
    display: flex;
    gap: 20px;
    max-width: 100%;
    width: 100%;
}

/* Estilo de los inputs de entrada de información */
.entry-form-data {
    padding: 10px;
    text-align: center;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    outline-offset: none;
    max-width: 100%;
    width: 80%;
    font-size: 16px;
}

.entry-form-data::placeholder {
    color: white;
    text-align: left;
}

.entry-form-data:focus {
    background-color: white;
    border-radius: 10px;
    color: black;
}

/* Estilo de los inputs tipo submit */
.entry-form-button {
    max-width: 50%;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    background-color: #242424;
    border: 1px solid #1a1a1a;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* Estilo de los inputs tipo submit cuando ponemos el ratón encima */
.entry-form-button:hover {
    border: 1px solid white;
}

/* Estilo del contenedor de errores */
.entry-form-error {
    border: 1px solid rgb(255, 127, 170);
    color: rgb(255, 127, 170);
    border-radius: 10px;
    background-color: rgba(255, 127, 170, 0.1);
    padding: 10px 0;
}

/* Estilo del contenedor de aviso de creación de usuario */
.entry-form-anadido {
    border: 1px solid aquamarine;
    color: aquamarine;
    border-radius: 10px;
    background-color: rgba(127, 255, 212, 0.1);
    padding: 10px 0;
}