.movie-search-form-header {
    position: absolute;
    right: 165px;
    top: 10px;
}

.movie-search-form-input-submit-header {
    display: none;
}

.movie-search-form-input-header {
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    width: 40px;
    color: transparent;
    text-indent: 120%;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease all;
}

.movie-search-form-input-header:focus {
    width: 200px;
    outline: none;
    background-color: white;
    color: #1a1a1a;
    padding-left: 20px;
    cursor: text;
    text-indent: 0%;
}

@media (max-width: 950px) {
    .movie-search-form-header {
        right: 50px;
     }
}

@media (max-width: 450px) {
    .movie-search-form-input-header:focus {
        position: absolute;
        top: 50px;
        width: 90vw;
        left: 50%;
        transform: translateX(-92%);
    }
    .movie-search-form-input-header {
        transition: 0s ease all;
    }
}