/* Estilo de la cabecera de la página */
header {
    position: sticky;
    z-index: 1;
    background-color: aquamarine;
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


/* Estilo del logo */
.logo-header {
    font-weight: 900;
    margin: 8px 20px;
    padding: 2px 6px;
    background-color: #1a1a1a;
    border-radius: 10px;
    color: white;
}

/* Estilo del logo al poner el ratón encima */
.logo-header:hover {
    transform: scale(110%);
    transition: 0.2s ease all;
}

/* Estilo del contenedor de los links */
.links-header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

/* Estilo del botón */
.sesion-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 20px;
}

/* Estilo del botón cuando ponemos el ratón encima */
.sesion-header-button:hover {
    border: 1px solid white;
}
.sesion-on:hover {
    border: 1px solid white;
}

/* Estilo de cada link */
.header-links {
    cursor: pointer;
    color: #1a1a1a;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease all;  
}

/* Estilo de cada link cuando ponemos el ratón encima */
.header-links:hover {
    background-color: white;
    color: #1a1a1a;
}

/* Estilo del link cuando lo pulsamos o estamos dentro de esa sección */
.activo {
    color: white;
    background-color: #1a1a1a;
}

.sesion-header-seach-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media (max-width: 950px) {
    .links-header {
        display: none;
    }
    .sesion-header-seach-icon {
        margin-right: 40px;
    }
    .sesion-on {
        display: none;
    }
}