/* Contenedor de la información extra */
.extra-content-container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 70%;
    align-items: start;
    margin: 0 auto;
    text-align: start;
    margin-top: 20px;
}
 /* Para separar el resumen de la demás información */
.extra-content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    margin: 0 auto;
}

/* Estilo de la plantilla fija */
.extra-content-headers {
    color: aquamarine;
}

/* Para alinear las dos secciones: la fija y la que cambia con cada película*/
.extra-content-headers, .extra-content-info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
