/* Estilo contenedor de la película */
.movie-container {
    align-items: center;
    position: relative;
    display: inline-block;
    max-width: 200px;
    margin: 0 auto;
}

/* Estilo de la foto */
.movie-photo {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px; 
    transition: 0.3s ease all;
}

/* Estilo de la foto cuando ponemos el ratón encima */
.movie-photo:hover {
    transform: scale(1.05);
}

/* Estilo del título de la película */
.movie-title {
    margin: 10px 0;
    height: 90px;
    
}

/* Estilo de la fecha */
.movie-year {
    margin: 0;
    color: aquamarine;
    font-weight: bold;
}

/* Estilos del perfil de usuario */

.movie-container-user {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
    transition: 0.3s ease all;
}

.movie-container-user:hover {
    transform: scale(1.05);
}

.movie-photo-user {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.movie-info-user {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius:  9.5px;
    padding: 0 10px;
    padding-top: 20px;
}

.hidden {
    visibility: hidden;
}